.plant {
  position: relative;
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-radius: 10px;
  text-align: left;
}
.plant .image {
  display: block;
  margin: 0 0 1.5em 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.plant .plant__desc {
  padding: 1rem;
}

.plant__properties {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.plant__property {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  /* box-shadow: inset 0 0 0 2px #f56a6a; */
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 2.5em;
  letter-spacing: 0.075em;
  line-height: 2.5em;
  padding: 0 1em;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(210, 215, 217, 0.75);
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 481px) and (max-width: 1680px) {
}
@media screen and (max-width: 1200px) {
  .posts {
    width: 350px;
    border: 2px solid red;
  }
}
@media screen and (max-width: 480px) {
  .posts {
    width: 300px;
    border: 2px solid red;
  }
}
