.search-list {
  border-radius: 20px;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  column-gap: 20px;
  row-gap: 20px;
}
.search-list--empty {
  padding: 50px;
  font-size: 20px;
}
.search-list--empty .search-list__icon--empty {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .search-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
